
<!--=======================================================================|
| Red Path                                                                 |
|==========================================================================|
| Suscribe el componente PostPreviewComponent al evento que hayas definido |
| en él para notificar los clics sobre los autores de los posts.           |
|========================================================================-->

<!--=======================================================================|
| Green Path                                                               |
|==========================================================================|
| Suscribe el componente PostPreviewComponent al evento que hayas definido |
| en él para notificar los clics sobre los posts.                          |
|========================================================================-->

<!--
    al hacer click en un post hijo, se lanza el evento 'postClicked',
    que capturamos aquí para lanzar el método 'showPost'.
-->
<app-post-preview 
    *ngFor="let post of posts"
    [post]="post"
    (postClicked)="showPost($event)"
    (authorClicked)="navigateUserPosts($event)"
></app-post-preview>
