<!--=======================================================================|
| Purple Path                                                              |
|==========================================================================|
| Enlaza el submit del formulario con la función 'emitPostSubmitted()'.    |
|========================================================================-->
<form [formGroup]="postForm" (ngSubmit)="emitPostSubmitted()" novalidate>

  <!--=======================================================================|
  | Purple Path                                                              |
  |==========================================================================|
  | Enlaza el input con el control 'title' definido en el FormGroup.         |
  |========================================================================-->
  <input
    formControlName="title"
    type="text"
    placeholder="Título"
    class="u-full-width">

  <!--=======================================================================|
  | Purple Path                                                              |
  |==========================================================================|
  | Enlaza el textarea con el control 'intro' definido en el FormGroup.      |
  |========================================================================-->
  <textarea
    formControlName="intro"
    placeholder="Introduce tu historia"
    class="u-full-width georgia-font"
    autogrow></textarea>

  <!--=======================================================================|
  | Purple Path                                                              |
  |==========================================================================|
  | Enlaza el textarea con el control 'body' definido en el FormGroup.       |
  |========================================================================-->
  <textarea
    formControlName="body"
    placeholder="Cuenta tu historia"
    class="u-full-width georgia-font"
    autogrow></textarea>

  <!--=======================================================================|
  | Purple Path                                                              |
  |==========================================================================|
  | Deshabilita el botón 'Publicar' si el formulario no es válido.           |
  |========================================================================-->
  <button
    [disabled]="postForm.invalid"
    type="submit"
    class="button-primary u-pull-right">Publicar</button>

</form>
